@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

*, *::before, *::after {
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none 1px #CCC;
    border: none 1px #CCC;
    font: inherit;
}

/**** Fonts ***********************************************************************************************************/

html {
    font-family: 'Archivo', sans-serif;
}


/**** Layout **********************************************************************************************************/

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100%;
    text-align: center;
    font-size: 12pt;
    color: #000;
    background-color: #FFF;
}

body > input {
    display: none;
}

body > * {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}

body > aside {
    flex: 0 0 auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    background-color: inherit;
    box-shadow: 0 0 0.5em 0.5em #FFF;
}

body > aside > * > a {
    flex-grow: 1;
    height: 0;
    padding-top: 20%; /* force aspect ratio */
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

body > aside > header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body > aside > header > a {
    padding-top: 25%; /* force aspect ratio */
    background-image: url("menu/header.png");
}

body > aside > header > label {
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(1.25 * 1em);
    height: 1em;
    margin-left: 1em;
}

body > aside > header > label::after,
body > aside > header > label::before,
body > aside > header > label > span {
    content: '';
    display: block;
    flex: 0 0 auto;
    height: 0.2em;
    width: 100%;
    border-radius: 0.5em;
    background-color: #000;
    transition: all .2s ease-in-out;
}

body > aside > nav > a.active {
    animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    0% {
        filter: drop-shadow(0 0 0.1em blue) hue-rotate(0deg);
    }
    100% {
        filter: drop-shadow(0 0 0.5em blue) hue-rotate(360deg);
    }
}

body > aside > nav > a[href='/comics/'] {
    background-image: url("menu/comics.png");
}

body > aside > nav > a[href='/things/'] {
    background-image: url("menu/things.png");
}

body > aside > nav > a[href='/about/'] {
    margin-top: 0.5em;
    padding-top: 15%; /* force aspect ratio */
    background-image: url("menu/about.png");
}

body > input:checked ~ aside > header > label::before {
    transform: translateY(200%) rotate(135deg);
}

body > input:checked ~ aside > header > label::after {
    transform: translateY(-200%) rotate(-135deg);
}

body > input:checked ~ aside > header > label > span {
    transform: scale(0);
}

body > aside > nav {
    display: none;
    flex-grow: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

body > input:checked ~ aside > nav {
    display: block;
}

body > aside > nav > * {
    display: block;
}

body > main {
    flex: 1 1 auto;
    padding-top: 1em;
    padding-bottom: 0.75em;
}

body > main > * {
    max-width: 50rem;
}

body > main > article {
    flex-grow: 1;
}

body > main > footer {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: #666;
}

body > canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    max-width: initial;
    opacity: 0.75;
    pointer-events: none;
}

body > script {
    display: none;
}

/**** Index ***********************************************************************************************************/

body.index > main > article > section {
    margin-bottom: 2.5em;
    vertical-align: top;
}

body.index > main > article > section > *:first-child {
    display: block;
    font-size: 110%;
    margin-bottom: 1em;
}

body.index > main > article > section > a > img {
    width: 100%;
}

/**** Post ************************************************************************************************************/

p > img[alt=''],
p > img[alt$='.png'] {
    display: block;
    width: 100%;
}

/**** Typography ******************************************************************************************************/

h1,
h2,
h3 {
    clear: both;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 300;
    color: #333;
}

* + h1,
* + h2,
* + h3 {
}

h1 {
    padding-bottom: 0.2em;
    border-bottom-style: solid;
    font-size: 175%;
}

h2 {
    padding-bottom: 0.2em;
    border-bottom-style: dotted;
    font-size: 125%;
}

h3 {
    font-weight: 700;
    font-size: 100%;
}

dl, ul, ol {
    margin-bottom: 1.5em;
}

ul, ol {
    list-style-position: inside;
}

ul {
    list-style-type: none;
}

ul > li::before {
    content: '›';
    margin-right: 0.25em;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.1em;
}

dt {
    font-weight: 700;
    font-size: 95%;
    color: #333;
}

* + dt {
    margin-top: 1em;
}

dt * {
    font-weight: 700;
}

dd {
    margin-top: 0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
    font-size: 95%;
}

tr:nth-child(odd) > td {
    background-color: #F8F8F8;
}

th,
td {
    padding: 0.5em 0.5em;
    border-bottom-style: solid;
    vertical-align: baseline;
}

th {
    white-space: pre;
    font-weight: 700;
}

pre {
    position: relative;
    overflow: auto;
    padding: 0.5em 0.75em;
    border-style: dotted;
    border-radius: 0.25em;
    white-space: pre-wrap;
    text-align: left;
    tab-size: 4;
    font-size: 85%;
    background-color: #F0F0F0;
}

pre {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

pre + pre,
div + div > pre {
    margin-top: -1em;
}

p {
    margin-bottom: 0.75em;
}

blockquote {
    margin-top: 1.5em;
    padding-left: 2em;
    padding-right: 0.5em;
    margin-bottom: 1.5em;
    border-left: solid 0.5em #EEE;
    font-style: italic;
}

blockquote > small:last-child {
    display: block;
    margin-top: 0.5em;
    text-align: right;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-top-style: solid;
}

a, a:visited {
    text-decoration: none;
    font-weight: 700;
    color: #567;
}

a:hover, button:active {
    color: #C30 !important;
    border-color: #C30 !important;
    cursor: pointer;
}

a.more:after {
    content: '›››';
    display: inline-block;
    margin-left: 0.25em;
}

button {
    background-color: transparent;
}

em {
    font-style: italic;
}

strong {
    color: #333;
    white-space: pre;
    font-weight: 700;
}

abbr {
    text-transform: none;
    white-space: pre;
}

code {
    white-space: pre;
    letter-spacing: -0.01em;
    font-size: 90%;
}

select {
    border-style: solid;
}

/**** Large ***********************************************************************************************************/

@media screen and (min-width: 640px), print {

    body {
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        text-align: left;
    }

    body > * {
        overflow-y: auto;
    }

    body > aside {
        width: 33%;
    }

    body > aside > header {
        margin-bottom: 1em;
    }

    body > aside > header > label {
        display: none;
    }

    body > aside > nav {
        display: block;
    }

    body.index > main > article > section {
        display: inline-block;
        width: 49%;
        padding: 0.5em;
    }

    body.index > main > article > section > *:first-child {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ul, ol {
        list-style-position: outside;
        padding-left: 1.25em;
    }

    ul {
        list-style-type: square;
    }

    ul > li::before {
        display: none;
    }

    dd {
        margin-left: 1em;
    }

}

/**** Larger ******************************************************************************************************************/

@media screen and (min-width: 960px), print {

    body > aside {
        width: 25%;
    }

    body.index > main > article > section {
        width: 32%;
        padding: 0.75em;
    }

}

/**** Printed *********************************************************************************************************/

@media print {

}


