<!DOCTYPE html>

{% assign project = page.project | default: site.github.project_title | remove: ".github.io" %}
{% assign tagline = page.tagline | default: site.github.project_tagline | strip %}

<html>

    <head>

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ project }}</title>

        <meta name="description" content="{{ page.excerpt | strip_html }}">

        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css" href="{{ '/resources/default.css' | relative_url }}"/>

        <link rel="shortcut icon" href="{{ '/resources/icons/icon-16x16.ico' | relative_url }}"/>
        <link rel="shortcut icon" href="{{ '/resources/icons/icon-32x32ico' | relative_url }}"/>


    </head>

    <body>

        <input id="toggle" type="checkbox"> <!-- hidden menu toggle for mobile view -->

        <header>
            <a href="/"><img alt="Fumetti USB" src="{{ '/resources/icons/header.jpg' | relative_url }}"></a>
        </header>

        <main>

            {% if page.url == "/" %}

            {% for post in site.posts %}

            <section>

                <a href="{{ post.url }}">{{ post.title }}</a>

                {% comment %} https://community.shopify.com/c/Shopify-Design/Pull-an-image-from-a-page-using-liquid/td-p/231491 {% endcomment %}

                {% assign images = post.content | split: '<img'  %}

                <img src="{{ images[1] | split: 'src="' | last | split: '"' | first }}"></img>

            </section>


            {% endfor %}

            {% else %}

            <div>{{ page.title }}</div>

            {{ content }}

            {% endif %}

        </main>

        <footer>
            <a title="Edit on GitHub" target="_blank" style="color: inherit;"
                    href="http://prose.io/#{{ site.github.repository_nwo }}/tree/master/_posts">©</a> {{ 'now' | date:
            '%Y' }} Fumetti USB. Quest'opera è distribuita con Licenza <a target="_blank"
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it">Creative Commons BY-NC-SA&nbsp;4.0</a>
        </footer>

        <script type="text/javascript" src="{{ '/resources/default.js' | relative_url }}"></script>

    </body>

</html>
