<!DOCTYPE html>

{% assign project = page.project | default: site.github.project_title | remove: ".github.io" %}
{% assign tagline = page.tagline | default: site.github.project_tagline | strip %}

<html>

    <head>

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ project }}</title>

        <meta name="keywords" content="Fumetti USB, fumetti">
        <meta name="description" content="{{ page.excerpt | strip_html }}">

        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css" href="{{ '/resources/default.css' }}"/>

        <link rel="shortcut icon" href="{{ '/resources/icons/icon-16x16.ico' }}"/>
        <link rel="shortcut icon" href="{{ '/resources/icons/icon-32x32.ico' }}"/>

    </head>

    <body class="{% if page.url == '/' or page.index %}index{% else %}post{% endif %}">

        <input id="toggle" type="checkbox"> <!-- hidden menu toggle for mobile view -->

        <aside>

            <header>
                <a href="/" title="Fumetti USB"></a>
                <label for="toggle"><span></span></label>
            </header>

            <nav>
                {% for section in site.sections %}

                {% if page.url == section.url %}
                {% assign active = 'active' %}
                {% else %}
                {% assign active = nil %}
                {% endif %}

                <a class="{{ active }}" href="{{ section.url }}" title="{{ section.text }}"></a>

                {% endfor %}
            </nav>

        </aside>

        <main>

            <article>

                {% if page.url == '/' or page.index %}

                <!--<section>

                    <span>{{ page.title }}</span>

                    {{ content }}

                </section>-->

                {% assign posts = site.categories[page.index] | default: site.posts %}

                {% for post in posts limit: 15 %}

                <section>

                    <a href="{{ post.url }}">{{ post.date | date: "%Y.%m.%d"}}<br>{{ post.title }}</a>

                    {% assign images = post.content | split: '<img' %}
                    {% assign preview = images[1] | split: 'src="' | last | split: '"' | first %}

                    <a href="{{ post.url }}"><img src="{{ preview }}"></img></a>

                </section>

                {% endfor %}

                {% else %}

                {{ content }}

                {% endif %}

            </article>

            <footer>
                <a title="Edit on GitHub" target="_blank" style="color: inherit;"
                        href="http://prose.io/#{{ site.github.repository_nwo }}/tree/master/_posts">©</a>
                    {{ 'now' | date: '%Y' }} Fumetti USB. Quest'opera è distribuita con Licenza <a target="_blank"
                    href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it">Creative
                Commons <span style="white-space: nowrap;">BY-NC-SA 4.0</span></a>
            </footer>

        </main>

        <script type="text/javascript" src="{{ '/resources/default.js' }}"></script>

<!--        <script type="text/javascript" src="{{ '/resources/scripts/sketch.min.js' }}"></script>-->
<!--	    <script type="text/javascript" src="{{ '/resources/scripts/cursor.js' }}"></script>-->

    </body>

</html>
